#background {
  width: 100%;
  height: 100%;
  fill: fb-black;
}

.scoreboard-text {
  display: none;
  layer: "100";
  y: "100%-20";
  text-length: "32";
  font-family: "System-Regular"; 
  fill: "fb-white";
  font-size: "20";
  font-weight: "bold";
}

#score-text {
  x: "5%";
  text-anchor: "start";
  text: "(Score)";
}

#time-text {
  x: "95%";
  text-anchor: "end";
  text: "(Score)";
}